<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="Holidays" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  
  <appSettings>
    <add key="url" value="http://www.bloomberg.com/markets/stocks/world-indexes"/>
    <add key="lifePROWorkarea" value="C:\LifePRO\DEV16\Workarea"/>
    <add key="emailNotifcations" value="rick.justesen@gmail.com;rick.justesen@benfinancial.com"/>
    <add key="retrivalTime" value="5:30 pm"/>
    <add key="outputFile" value="SANDP.DAT"/>
    <add key="goodFile" value="SANDP.GOOD"/>
    <add key="cmdPath" value="C:\LifePRO\AutoCycle"/>
    <add key="cmd" value="test.cmd"/>
    <add key="args" value=""/>
  </appSettings>

  <Holidays>
    <add key="2013 New Years Day" value="01/01/2013" />
    <add key="2013 Martin Luther-King" value="01/21/2013" />
    <add key="2013 Presidents Day" value="01/18/2013" />
    <add key="2013 Good Friday" value="04/04/2013" />
    <add key="2013 Memorial Day" value="05/27/2013" />
    <add key="2013 Independence Day" value="07/04/2013" />
    <add key="2013 Labor Day" value="09/03/2013" />
    <add key="2013 Thanksgiving" value="11/28/2013" />
    <add key="2013 Christmas Eve" value="12/24/2013" />
    <add key="2013 Christmas" value="12/25/2013" />
    <add key="2014 New Years Day" value="01/01/2014" />
    <add key="2014 Martin Luther-King" value="01/20/2014" />
    <add key="2014 Presidents Day" value="01/17/2014" />
    <add key="2014 Memorial Day" value="05/26/2014" />
    <add key="2014 Independence Day" value="07/04/2014" />
    <add key="2014 Labor Day" value="09/01/2014" />
    <add key="2014 Thanksgiving" value="11/27/2014" />
    <add key="2014 Christmas" value="12/25/2014" />
    <add key="2015 New Years Day" value="01/01/2015" />
    <add key="2015 Martin Luther-King" value="01/19/2015" />
    <add key="2015 Presidents Day" value="01/16/2015" />
    <add key="2015 Good Friday" value="04/03/2015" />
    <add key="2015 Memorial Day" value="05/25/2015" />
    <add key="2015 Independence Day" value="07/03/2015" />
    <add key="2015 Labor Day" value="09/07/2015" />
    <add key="2015 Thanksgiving" value="11/26/2015" />
    <add key="2015 Christmas" value="12/25/2015" />
  </Holidays>
  
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="mail.benlife.com"/>
      </smtp>
    </mailSettings>
  </system.net>
  
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <File value="C:\logs\sanp.log"/>
      <AppendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p %d{yyyy-MM-dd hh:mm:ss} – %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
